html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;  /* ; en trop */
    font-size: 16px;
    line-height: 1.3;
}

h2, h3, h4{
    font-size: 24px;
    font-weight: bold;
}

/* j'enleve <p> vide */

img{
    border-radius: 5px;
}

.container{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}
.cols{
    display: flex;
    flex-wrap: nowrap;
}
.cols .col{
    display: flex;
    flex-direction: column;
}
.cols .col.col-50{
    width: 50%;
}

.main-title{    /* On a donné un font-size au h1 et un autre au main-title donc j'enleve le h1 */
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.ta-center{
    text-align: center;
}
.ta-justify{
    text-align: justify;
}

.source{
    font-size: 12px;
    font-style: italic;
}

.info{
    padding: 15px;
    color: rgb(18, 19, 18);  /* je change la couleur */
    background-color: rgba(90, 255, 0, 0.75);
    border-radius: 5px;
}

@media screen and (max-width: 998px){
    .cols{
        flex-direction: column;
    }

    .cols .col.col-50{
        width: 100%;
    }
}